body {
  background-color: #ffefff;
}
.Appheader {
  background-color: #cdb7f6;
  color: #ffff;
  font-size: 20px;
  text-align: center;
}

.service-img {
  width: 200px;
}

.service-collection{
  background-color: #ffefff;
  /* margin: 20px;
  padding: 20px; */
}


.footer{
  margin-top: 70px;
  padding: 1rem;
  background-color: rgb(235, 195, 64);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}