body {
  background-color: #ffefff;
}

.service-img {
  width: 200px;
}

.service-collection{
  background-color: #ffefff;
}


.footer{
  margin-top:100px;
  padding: 3rem;
  background-color: rgb(235, 195, 64);
  position: relative;
  width: 100%;
}